In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data_frame.csv")

In [3]:
data['Time'] = pd.to_datetime(data['Time'])

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 733 entries, 0 to 732
Data columns (total 97 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    733 non-null    datetime64[ns]
 1   20229   733 non-null    float64
 2   22314   733 non-null    float64
 3   22632   733 non-null    float64
 4   24028   733 non-null    float64
 5   24052   733 non-null    float64
 6   24309   733 non-null    float64
 7   24619   733 non-null    float64
 8   25021   733 non-null    float64
 9   26191   733 non-null    float64
 10  27213   733 non-null    float64
 11  28802   733 non-null    float64
 12  29146   733 non-null    float64
 13  30731   733 non-null    float64
 14  30862   733 non-null    float64
 15  30904   733 non-null    float64
 16  32407   733 non-null    float64
 17  33421   733 non-null    float64
 18  33495   733 non-null    float64
 19  34200   733 non-null    float64
 20  34399   733 non-null    float64
 21  34673   733 non-null    float64
 22  35442   733 non-null    float64
 23  35488   733 non-null    float64
 24  35693   733 non-null    float64
 25  37791   733 non-null    float64
 26  39050   733 non-null    float64
 27  42094   733 non-null    float64
 28  42210   733 non-null    float64
 29  42696   733 non-null    float64
 30  44137   733 non-null    float64
 31  44197   733 non-null    float64
 32  44220   733 non-null    float64
 33  45316   733 non-null    float64
 34  45370   733 non-null    float64
 35  45600   733 non-null    float64
 36  47317   733 non-null    float64
 37  47784   733 non-null    float64
 38  49089   733 non-null    float64
 39  49824   733 non-null    float64
 40  50054   733 non-null    float64
 41  53881   733 non-null    float64
 42  56073   733 non-null    float64
 43  56437   733 non-null    float64
 44  58238   733 non-null    float64
 45  58294   733 non-null    float64
 46  60066   733 non-null    float64
 47  61899   733 non-null    float64
 48  61905   733 non-null    float64
 49  62654   733 non-null    float64
 50  62675   733 non-null    float64
 51  62711   733 non-null    float64
 52  63416   733 non-null    float64
 53  64746   733 non-null    float64
 54  65533   733 non-null    float64
 55  65545   733 non-null    float64
 56  65998   733 non-null    float64
 57  66292   733 non-null    float64
 58  66384   733 non-null    float64
 59  66507   733 non-null    float64
 60  67394   733 non-null    float64
 61  69779   733 non-null    float64
 62  69847   733 non-null    float64
 63  69939   733 non-null    float64
 64  70216   733 non-null    float64
 65  70340   733 non-null    float64
 66  70645   733 non-null    float64
 67  70649   733 non-null    float64
 68  71125   733 non-null    float64
 69  72601   733 non-null    float64
 70  72803   733 non-null    float64
 71  72933   733 non-null    float64
 72  72941   733 non-null    float64
 73  73472   733 non-null    float64
 74  73634   733 non-null    float64
 75  74213   733 non-null    float64
 76  74233   733 non-null    float64
 77  74238   733 non-null    float64
 78  74379   733 non-null    float64
 79  74469   733 non-null    float64
 80  74490   733 non-null    float64
 81  74570   733 non-null    float64
 82  74574   733 non-null    float64
 83  74644   733 non-null    float64
 84  74842   733 non-null    float64
 85  74912   733 non-null    float64
 86  75408   733 non-null    float64
 87  75539   733 non-null    float64
 88  75548   733 non-null    float64
 89  76204   733 non-null    float64
 90  76589   733 non-null    float64
 91  80136   733 non-null    float64
 92  80381   733 non-null    float64
 93  81231   733 non-null    float64
 94  81651   733 non-null    float64
 95  82783   733 non-null    float64
 96  82811   733 non-null    float64
dtypes: datetime64[ns](1), float64(96)
memory usage: 555.6 KB

In [6]:
data

,Time,20229,22314,22632,24028,24052,24309,24619,25021,26191,...,75539,75548,76204,76589,80136,80381,81231,81651,82783,82811
0,2023-04-27 15:00:00,5.54,8.53,8.48,6.47,0.86,9.38,8.75,10.45318,17.60,...,5.46,5.55,6.89,35.80,9.75,8.14,11.40,8.92,8.92,8.92
1,2023-04-28 03:00:00,6.01,8.89,9.42,3.02,2.19,8.51,9.35,10.45318,12.40,...,5.96,7.53,6.18,19.40,11.20,9.41,12.70,8.53,8.53,8.53
2,2023-04-28 15:00:00,2.44,3.57,3.99,2.23,2.54,3.97,3.26,10.45318,13.30,...,2.53,1.90,2.82,11.00,3.09,3.42,6.15,4.75,4.75,4.75
3,2023-04-29 03:00:00,1.34,2.08,2.14,1.07,1.33,1.07,2.51,10.45318,4.83,...,2.80,1.69,1.11,4.39,1.87,2.24,2.64,1.74,1.74,1.74
4,2023-04-29 15:00:00,3.48,3.69,4.70,5.99,0.63,6.13,6.24,10.45318,17.40,...,3.94,4.66,4.70,15.30,9.56,4.04,8.22,5.24,5.24,5.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728,2024-04-25 15:00:00,4.53,6.08,6.77,8.31,1.35,7.39,7.39,13.00000,12.50,...,4.19,3.70,6.07,42.60,9.50,6.83,10.80,8.01,5.91,8.07
729,2024-04-26 03:00:00,5.97,8.36,9.51,5.90,1.89,8.06,10.10,11.20000,14.40,...,5.27,5.08,7.67,14.10,9.21,8.80,12.80,8.06,7.20,7.88
730,2024-04-26 15:00:00,6.18,8.83,7.80,10.10,4.02,12.80,7.69,20.00000,20.70,...,6.30,3.17,10.50,15.40,9.20,7.25,16.10,14.80,10.20,13.10
731,2024-04-27 03:00:00,4.89,7.09,7.77,6.59,2.97,8.73,8.41,15.80000,9.09,...,5.81,3.51,6.87,15.30,7.99,7.18,12.00,10.30,8.39,8.86
732,2024-04-27 15:00:00,1.87,3.02,3.35,1.56,1.95,2.48,3.99,2.85000,5.12,...,2.83,1.82,2.55,3.83,3.47,3.17,3.57,2.09,2.88,2.01